html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  line-height: 1.5;
  background-color: #dbd6cf;
}

h1 {
  background-color: #595652;
  width: 100%;
  padding: .5em .75em;
  margin: 0em;
  border: 10px solid #000;
  font-family: Bevan, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: block;
}

nav li {
  text-decoration: none;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  text-align: center;
  border-radius: 4px;
  border-color:#713837;
  padding: .6em;
}

.intro {
  background-color: #713837;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.terrestrial {
  background-color: #713837;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.mars {
  background-color: #713837;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.venus {
  background-color: #713837;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

body {
  background-color: #595652;
}

a:hover {
  background-color: #f33;
}
