html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  line-height: 1.5;
  background-color: #dbd6cf;
}

h1 {
  background-color: #595652;
  width: 100%;
  padding: .5em .75em;
  margin: 0em;
  border: 10px solid #000;
  font-family: "Bevan", sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: block;

}

ul {
  display: inline-block;
  text-align: center;
  font-size: 1.125rem;
}

nav li {
  display: inline-block;
  padding: 0.6em;
  margin: .3em;
  font-family: "Arial", sans-serif;
  text-decoration: none;
}

.intro {
  background-color: #713837;
  color: #fff;
  padding: 10px;
}

.terrestrial {
  background-color: #713837;
  color: #fff;
  padding: 10px;
}

.mars {
  background-color: #713837;
  color: #fff;
  padding: 10px;
}

.venus {
  background-color: #713837;
  color: #fff;
  padding: 10px;
}

body {
  background-color: #595652;
}
